* {
  font-family: "Roboto", sans-serif;
}

header {
  position: relative;
}

nav {
  height: 50px;
  background-color: #000;
}

.hamburger {
  display: none;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}
.menu-link {
  color: #fff;
  font-size: 15px;
  font-weight: 300;
}
.menu_item {
  border-right: 2px dotted #f0e9e9;
  padding-right: 30px;
}
.menu_item:last-child {
  border-right: none;
}

.subheader {
  position: absolute;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
}
.subheader-logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}
.subheader-offcal {
  margin-top: 6px;
  opacity: 0.5;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
}
.subheader-call {
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  margin-top: 19px;
  text-align: right;
}
.subheader-phone {
  display: block;
  margin-top: 8px;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
  line-height: 12px;
}
.subheader-btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.subheader-btn:hover {
  background-image: none;
  background-color: #ff5656;
}

.promo {
  min-height: 800px;
  background: url(/img/bg/main_bg.jpg) center center/cover no-repeat;
  padding: 150px 0 135px 0;
}
.promo-header {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 0;
  text-align: center;
}
.promo-subheader {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 0;
  margin-top: 22px;
  text-align: center;
}
.promo-descr {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  margin-top: 23px;
}
.promo-btn {
  display: block;
  margin: 118px auto 0 auto;
  width: 229px;
  height: 63px;
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
  border: none;
  background-repeat: 4px;
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
}
.promo-btn:hover {
  background-image: none;
  background-color: #ff5656;
}

.reasons {
  padding: 71px 0 65px 0;
}
.reasons__block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}
.reasons-descr {
  width: 343px;
}
.reasons-header {
  line-height: 21px;
  color: #1eacc7;
  font-size: 17px;
  font-weight: 400;
}
.reasons-text {
  color: #202020;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
}
.reasons-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 26px;
  width: 113px;
  height: 113px;
  background-color: #1eacc7;
  border-radius: 100%;
}
.reasons-item {
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
}

.lable {
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}

.label__white {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #fff;
  color: #000;
  text-align: center;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}

.title {
  position: relative;
  margin-bottom: 0;
  margin-top: 38px;
  color: #222222;
  font-size: 38px;
  line-height: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  z-index: 2;
}
.title__white {
  color: #fff;
}

.subtitle {
  position: relative;
  margin-top: 19px;
  color: #222222;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  z-index: 2;
}
.subtitle__white {
  color: #fff;
}

.mobile {
  vertical-align: middle;
  min-height: 864px;
  padding: 48px 0 79px 0;
  background: url(../img/bg/mobile_app.png) center center/cover no-repeat;
}
.mobile .row {
  margin-top: 32px;
}
.mobile_item {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  padding-top: 92px;
}
.mobile_item_1 {
  background: url(../img/bg/mobile_screen_1.jpg) center center/cover no-repeat;
}
.mobile_item_2 {
  background: url(../img/bg/mobile_screen_2.jpg) center center/cover no-repeat;
}
.mobile_item_3 {
  background: url(../img/bg/mobile_screen_3.jpg) center center/cover no-repeat;
}
.mobile_item_4 {
  background: url(../img/bg/mobile_screen_4.jpg) center center/cover no-repeat;
}
.mobile_item_5 {
  background: url(../img/bg/mobile_screen_5.jpg) center center/cover no-repeat;
}
.mobile_item_6 {
  background: url(../img/bg/mobile_screen_6.jpg) center center/cover no-repeat;
}
.mobile_item_subtitle {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  text-transform: uppercase;
  text-align: center;
}
.mobile_item_plus {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  width: 26px;
  height: 26px;
  background-color: #000000;
  margin: 0 auto;
  border-radius: 100%;
  cursor: pointer;
}
.mobile_item_plus:before {
  content: "";
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1eacc7;
  transition: 0.3s all;
}
.mobile_item_plus:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-60%);
  display: block;
  height: 14px;
  width: 2px;
  background-color: #1eacc7;
  transition: 0.3s all;
}
.mobile_item_plus:hover:before, .mobile_item_plus:hover:after {
  background-color: #ff5656;
}

.choise {
  position: relative;
  min-height: 895px;
  padding: 57px 0 138px 0;
  background: url("../img/bg/mobile_app.png") center center/cover no-repeat;
}
.choise__img {
  position: relative;
  display: block;
  margin: 56px auto 0 auto;
  z-index: 2;
}
.choise__descr {
  text-align: center;
  color: #222222;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
}
.choise .black {
  position: absolute;
  top: 0;
  left: 0;
  height: 499px;
  width: 100%;
  background-color: #090920;
  z-index: 1;
}

.require {
  padding: 68px 0 84px 0;
}
.require__block {
  margin: 33px 0px;
}
.require__block__nmb {
  margin-bottom: 0px;
}
.require__title {
  color: #1eacc7;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 15px;
}
.require__list {
  list-style-type: none;
  padding-left: 50px;
}
.require__list li {
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 10px;
}
.require__list li::before {
  content: "";
  display: inline-block;
  width: 21px;
  height: 20px;
  vertical-align: middle;
  margin-right: 10px;
  background: url(../icons/check_blue.svg) center center/cover no-repeat;
}
.require__descr {
  color: #1eacc7;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}
.require .warning .require__title {
  color: #ff5656;
}
.require .warning .require__list li::before {
  background: url(../icons/check_red.svg) center center/cover no-repeat;
}

.around-world {
  position: relative;
  min-height: 717px;
  padding: 49px 0;
  background: url(../img/bg/map.jpg) center center/cover no-repeat;
}
.around-world__link {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 49px;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 68px;
  text-transform: uppercase;
  color: #1d6774;
}
.around-world__link:hover {
  text-decoration: none;
  color: #fff;
}

footer {
  padding: 14px 23px 39px 23px;
}
footer a:hover {
  text-decoration: none;
}

.footer__divider {
  width: 299px;
  height: 4px;
  background-color: #1fbad6;
  margin: 0 auto;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 32px;
}
.footer__wrapper > div {
  width: 33%;
}
.footer__wrapper > div:nth-child(3) {
  display: flex;
  justify-content: flex-end;
}
.footer__social {
  width: 160px;
  display: flex;
  justify-content: flex-start;
}
.footer__social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4px;
  width: 32px;
  height: 32px;
  background-color: #05050f;
  border-radius: 100%;
}
.footer__social-item i {
  color: #fff;
}
.footer__links {
  width: 390px;
  margin: 0 auto;
}
.footer__links-main {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.footer__links-main a {
  color: #070716;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
}
.footer__links-sub {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.footer__links-sub a {
  color: #999999;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}
.footer__links-lang {
  display: block;
  margin: 0 auto;
  color: #1fbad6;
  font-size: 11px;
  font-weight: 400;
  margin-top: 19px;
  text-transform: uppercase;
  text-align: center;
}

.xs-visible {
  display: none;
}

@media (max-width: 1200px) {
  .menu_item {
    padding-right: 15px;
  }
  .menu-link {
    font-size: 13px;
  }
  .promo-header {
    font-size: 50px;
  }
  .reasons-block {
    align-items: flex-start;
  }
  .reasons-descr {
    width: 300px;
  }
  .mobile_item {
    width: 300px;
  }
}
@media (max-width: 991px) {
  .menu_item {
    padding-right: 8px;
  }
  .menu-link {
    font-size: 10px;
  }
  .subheader-logo img {
    width: 100%;
  }
  .subheader-offcal {
    font-size: 11px;
  }
  .subheader-phone {
    font-size: 18px;
  }
  .subheader-btn {
    margin-top: 21px;
    height: 40px;
    width: 100%;
  }
  .promo-header {
    font-size: 40px;
  }
  .promo-subheader {
    font-size: 33px;
  }
  .reasons__block {
    flex-direction: column;
    align-items: center;
    margin-right: 0px;
  }
  .reasons-descr {
    width: 300px;
    margin-top: 20px;
  }
}
@media (max-width: 767px) {
  .menu {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.6s all;
    z-index: 5;
  }
  .menu_active {
    left: 0;
  }
  .menu_item {
    margin: 10px 0;
    padding-right: 0;
    border: none;
  }
  .menu_item-link {
    font-size: 40px;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 26px;
    height: 12px;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 2px;
    transition: 0.5s all;
  }
  .hamburger_active span {
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(1) {
    transform: translateY(3px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    transform: translateY(3px) rotate(45deg);
  }
  .xs-hidden {
    display: none;
  }
  .xs-visible {
    display: block;
  }
  .subheader-btn {
    width: 200px;
    height: 40px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
  }
}
.min__vp-phone {
  display: block;
  margin-top: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}
.min__vp-phone .promo-header {
  line-height: 45px;
}

@media (max-width: 575px) {
  nav {
    height: 30px;
  }
  .subheader {
    height: 60px;
  }
  .subheader-offcal {
    display: none;
  }
  .subheader-logo {
    margin-top: 16px;
  }
  .subheader-btn {
    width: 200px;
    height: 40px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
  }
  .subheader-phone {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
  }
  .subheader-btn {
    width: 110px;
    height: 22px;
    font-size: 10px;
  }
  .promo {
    min-height: 400px;
    padding: 93px 0 35px 0;
  }
  .promo-descr {
    display: none;
  }
  .promo-header {
    font-size: 30px;
    padding: 0 24px;
    line-height: 35px;
  }
  .promo-subheader {
    font-size: 20px;
    margin-top: 33px;
    padding: 0 10px;
    line-height: 30px;
  }
  .promo-btn {
    width: 210px;
    height: 50px;
    margin-top: 72px;
  }
  .promo .menu {
    width: 85%;
  }
  .reasons {
    padding: 22px 0 36px 0;
  }
  .reasons__block {
    margin-top: 26px;
  }
  .title {
    font-size: 16px;
    margin-top: 15px;
    line-height: 16px;
  }
  .menu {
    width: 35%;
  }
  .menu_item {
    width: 100%;
    text-align: center;
    padding: 4px 0;
  }
  .menu-link {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */